<o-form fxLayout="column" #oForm service="candidates" entity="candidateCV" keys="ID" columns="ID;CANDIDATE_ID;STUDIES;"
  header-actions="R;U;D;I" label-header="cv" class="standalone-form-container">
  <o-row title="ACCOUNT_INFO">
    <o-text-input attr="ID" fxFlex layout-padding enabled="false"></o-text-input>
    <o-text-input attr="STUDIES" fxFlex layout-padding></o-text-input>
    <o-text-input attr="PERSONAL_INF" fxFlex layout-padding></o-text-input>
    <o-text-input attr="SKILLS" fxFlex layout-padding></o-text-input>
    <o-text-input attr="CANDIDATE_ID" fxFlex layout-padding></o-text-input>
    <o-text-input attr="LANGUAGES" fxFlex layout-padding></o-text-input>
    
    
  </o-row>
</o-form>