<o-form service="candidates" entity="candidate" keys="ID" header-actions="R;I;U;D" show-header-navigation="no" >
  <o-text-input #ids attr="ID" sql-type="INTEGER" enabled="no"></o-text-input>
  <o-row>
    <o-column>
      <o-image id="CANDIDATE_PHOTO" attr="PHOTO" empty-image="assets/images/no-image.png" sql-type="OTHER">
      </o-image>
    </o-column>
    <o-column fxFlex layout-padding>
      <o-row>
        <o-text-input class="input-padding" attr="NAME" fxFlex="35" required="yes"></o-text-input>
        <o-text-input class="input-padding" attr="SURNAME" fxFlex="35" required="yes"></o-text-input>
        <o-text-input class="input-padding" attr="DNI" fxFlex="15" required="yes"></o-text-input>
        <o-date-input attr="BIRTHDAY" fxFlex="15"></o-date-input>
      </o-row>
      <o-row>
        <o-integer-input attr="PHONE" class="input-padding" step="5" grouping="no" fxFlex="40"></o-integer-input>
        <o-email-input attr="EMAIL" fxFlex></o-email-input>
      </o-row>
      <o-button attr="basic" type="BASIC" style="font-size: 45;" label="Curriculum" [routerLink]="['curriculum',id]" queryParamsHandling preserveFragment></o-button>
    
     
    </o-column>
  </o-row>
  
  
     
</o-form>
